<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

<a href="{% url 'export_users_xls' %}">Export all users</a>

<p><a href="{% url 'home_page' %}">Reset</a></p>

<table style="width:100%">
    {% for email in emails %}
    <tr>Email : {{email}}</tr>
    {%endfor%}

    <br>

    {% for number in phone_number%}
    <tr>Phone Number : {{number}}</tr>
    {%endfor%}

    <br>
    {% if file_path %}
    <tr>File Location : {{file_path}} </tr>
    {%endif%}
  </table>